* {
    box-sizing: border-box;
}


html{
    background: black;
}



header{
    background: #ffffff;
    border-color: #cccccc;
   
    
}

#headercont{
    width: 960px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: auto;
    /*background: pink;*/
    text-align: right;
}

footer{
    background: #666666;
    color: white;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 5px solid #4aaaa5;
}



.navlink{
    text-decoration: none;
    color: #777777;
    
   
}

#boxname {
    color: white;
    background: #4aaaa5;
    font-size: 30px;
    padding: 10px;
    height: 58px;
    position: relative;
    top: -20px;
    right: 20px;
    float: left;
}

#main{
    background: #ffffff;
    border-color: #dddddd;
    width: 960px;
    display: block;
    margin: auto;
    color: #777777;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
#h{
    color: #4aaaa5;
    
}

/*style of index.html*/
#profile{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;

}

#content{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

}

/*style of portfolio.html*/

#portfoliotable{
    table-layout: auto;
    width: 750px;  
    margin-left: 20px;
    
}

.box{
    color: white;
    background: #4aaaa5;
    font-size: 20px;
    padding: 10px;
    height: 40px;
    position: relative;
    bottom: 50px;
    float: left;
    width: 300px;
    text-align: center; 
}
